html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}

body {
  background: url('/background.png') no-repeat center center fixed;
  background-size: cover;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}